@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height:100vh;
}

.game-board {
  display: grid;
  margin: 25px auto;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height:76vh;
  width: 76vh;
  max-width: 99vw;
}

.square {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 24vh;
  width: 24vh;
  max-width:32vw;
  background-color: #5e5e5e;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 100px;
}

.square:hover {
  cursor: pointer;
  background-color: #888888;
}

.button {
  border-radius: 10px;
  background-color: rgb(196, 0, 0);
  color: white;
  width: fit-content;
  padding: 0.2em 1em;
  margin: auto;
  font-size: 1.5em;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(255, 68, 68);
}